.card {
  /* Sizing */
  height: 100%;
  width: 100%;

  transform-style: preserve-3d;

  /* Content Alignment */
  position: relative;

  /* Styling */
  border-radius: 5px;
  /* border: 5px solid white; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);

  user-select: none;
  cursor: pointer;
}

.card-front,
.card-back {
  /* Sizing */
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /* Alignment */
  position: absolute;

  /* Content Alignment */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  background-color: #e1ffee;
}

.card-back {
  background-color: #e1ffee;
  transform: rotateY(180deg);
}
